In [621]:
import pandas as pd

comments=pd.read_csv('data/comments.csv')
stats=pd.read_csv('data/videos-stats.csv')
comments.head()

,Unnamed: 0,Video ID,Comment,Likes,Sentiment
0,0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,1,wAZZ-UWGVHI,Here in NZ 50% of retailers don‚Äôt even have co...,19.0,0.0
2,2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,3,wAZZ-UWGVHI,Whenever I go to a place that doesn‚Äôt take App...,8.0,0.0
4,4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [622]:
# as shown above ,need to drop unnamed col
comments=comments.drop(columns=['Unnamed: 0'],axis=1)
stats=stats.drop(columns=['Unnamed: 0'],axis=1)
comments.head()

,Video ID,Comment,Likes,Sentiment
0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,wAZZ-UWGVHI,Here in NZ 50% of retailers don‚Äôt even have co...,19.0,0.0
2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,wAZZ-UWGVHI,Whenever I go to a place that doesn‚Äôt take App...,8.0,0.0
4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [623]:
stats.head()

,Title,Video ID,Published At,Keyword,Likes,Comments,Views
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0

In [624]:
stats.isnull().sum()

Title           0
Video ID        0
Published At    0
Keyword         0
Likes           2
Comments        2
Views           2
dtype: int64

In [625]:
stats=stats.dropna()

In [626]:

stats["pop"]=stats.loc[:,["Likes","Comments","Views"]].apply(lambda x:x["Likes"]*0.3+x["Comments"]*0.6+x['Views'],axis=1)

stats.head()
# comments likes views scale diff,so they need to be normalizeed

,Title,Video ID,Published At,Keyword,Likes,Comments,Views,pop
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,3407.0,672.0,135612.0,137037.3
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,76779.0,4306.0,1758063.0,1783680.3
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,63825.0,3338.0,1564007.0,1585157.3
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,71566.0,1426.0,922918.0,945243.4
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,96513.0,5155.0,1855644.0,1887690.9

In [627]:
# nomalization
# Âú®PythonÁöÑsklearnÂåÖ‰∏≠Êèê‰æõ‰∫ÜStandardScaler ÂíåMinMaxScaler ÂèØ‰ª•ÂæàÊñπ‰æøÁöÑÂØπÊï∞ÊçÆËøõË°åËßÑËåÉÂåñÂ§ÑÁêÜ
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as sp

video_likes=stats.loc[:,'Likes']
video_comments=stats.loc[:,'Comments']
video_views=stats.loc[:,'Views']

standard = sp.MinMaxScaler()
stats.loc[:,'Likes'] = standard.fit_transform(video_likes.values.reshape(-1,1))
stats.loc[:,'Comments']=standard.fit_transform(video_comments.values.reshape(-1,1))
stats.loc[:,'Views']=standard.fit_transform(video_views.values.reshape(-1,1))

stats["pop"]=stats.loc[:,["Likes","Comments","Views"]].apply(lambda x:x["Likes"]*0.3+x["Comments"]*0.6+x['Views'],axis=1)
stats['pop'].min()
stats.head()

,Title,Video ID,Published At,Keyword,Likes,Comments,Views,pop
0,Apple Pay Is Killing the Physical Wallet After...,wAZZ-UWGVHI,2022-08-23,tech,0.000207,0.000918,0.000034,0.000647
1,The most EXPENSIVE thing I own.,b3x28s61q3c,2022-08-24,tech,0.004669,0.005877,0.000436,0.005363
2,My New House Gaming Setup is SICK!,4mgePWWCAmA,2022-08-23,tech,0.003881,0.004556,0.000388,0.004286
3,Petrol Vs Liquid Nitrogen | Freezing Experimen...,kXiYSI7H2b0,2022-08-23,tech,0.004352,0.001947,0.000229,0.002703
4,Best Back to School Tech 2022!,ErMwWXQxHp0,2022-08-08,tech,0.005869,0.007036,0.000460,0.006442

In [628]:
comments.head()

,Video ID,Comment,Likes,Sentiment
0,wAZZ-UWGVHI,Let's not forget that Apple Pay in 2014 requir...,95.0,1.0
1,wAZZ-UWGVHI,Here in NZ 50% of retailers don‚Äôt even have co...,19.0,0.0
2,wAZZ-UWGVHI,I will forever acknowledge this channel with t...,161.0,2.0
3,wAZZ-UWGVHI,Whenever I go to a place that doesn‚Äôt take App...,8.0,0.0
4,wAZZ-UWGVHI,"Apple Pay is so convenient, secure, and easy t...",34.0,2.0

In [629]:
from wordcloud import WordCloud
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('punkt')
from nltk.tokenize import word_tokenize
import string


new_stopwords = ["video", "s", "to", "on", "daily"]
stpwrd = nltk.corpus.stopwords.words('english')
stpwrd.extend(new_stopwords)

stpwrd.extend(string.punctuation)
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')


def generate_tag(comments):
    word_tokens=word_tokenize(comments)
    lemmatized_output =[wordnet_lemmatizer.lemmatize(w) for w in word_tokens]
    filter_sen=[w for w in lemmatized_output if not w.lower() in stpwrd]

    return filter_sen




comment_words = ''
comments.isnull().sum()
comments=comments.dropna()

comments['Comment_tag']=comments['Comment'].apply(generate_tag)

comments['Comment_tag']=comments['Comment_tag'].apply(str)

[nltk_data] Downloading package stopwords to /home/qlchen/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/qlchen/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/qlchen/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /home/qlchen/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [630]:
data1=comments.groupby('Video ID')['Comment_tag'].apply(sum)
data1[0:10]

Video ID
--ZI0dSbbNU    ['‚Äô', 'happy', 'eating', 'see', 'u', 'sufferin...
--hxd1CrOqg    ['‚Äô', 'really', 'unfortunate', 'intended', 'ta...
--ixiTypG8g    ['biggest', 'problem', 'college', 'charging', ...
-64r1hcxtV4    ['8:20-', '10:00', '.....', 'thought', 'happen...
-6IgkG5yZfo    ['Hope', 'make', 'life', 'easier', '..', '00:4...
-7hzaGya86g    ['Yes', 'Dinner', 'dancing', 'Lotte', 'Mart', ...
-8TnsjDRXUE    ['ha', 'sponsored', 'Onnit', 'Visit', 'http', ...
-9hjdvULDyc    ['Hope', 'everyone', 'get', 'perfect', '1600',...
-Cr69sGnrk8    ['Let', "'s", 'appreciate', 'doe', 'far', "'s"...
-D4S6TpnO44    ['üí•', 'Get', 'Bonus', 'http', '//getbonus.link...
Name: Comment_tag, dtype: object

In [631]:

df_comment=pd.DataFrame(data1)

df_comment[0:10]

                                                   Comment_tag
Video ID
--ZI0dSbbNU  ['‚Äô', 'happy', 'eating', 'see', 'u', 'sufferin...
--hxd1CrOqg  ['‚Äô', 'really', 'unfortunate', 'intended', 'ta...
--ixiTypG8g  ['biggest', 'problem', 'college', 'charging', ...
-64r1hcxtV4  ['8:20-', '10:00', '.....', 'thought', 'happen...
-6IgkG5yZfo  ['Hope', 'make', 'life', 'easier', '..', '00:4...
-7hzaGya86g  ['Yes', 'Dinner', 'dancing', 'Lotte', 'Mart', ...
-8TnsjDRXUE  ['ha', 'sponsored', 'Onnit', 'Visit', 'http', ...
-9hjdvULDyc  ['Hope', 'everyone', 'get', 'perfect', '1600',...
-Cr69sGnrk8  ['Let', "'s", 'appreciate', 'doe', 'far', "'s"...
-D4S6TpnO44  ['üí•', 'Get', 'Bonus', 'http', '//getbonus.link...

In [632]:
from summa import keywords

def generate_key(comm):

    TR_keywords = keywords.keywords(comm, scores=True) 
    com_key=[]
    for x,y in TR_keywords:
        com_key.append(x)
    return com_key



df_comment['Comment_keyword']=df_comment['Comment_tag'].apply(generate_key)
# for i range(len(df_comment)):
#     df_comment['Comment'][i]=df_comment['Comment'][i]

In [633]:
df_comment['Comment_keyword'][0:10]

Video ID
--ZI0dSbbNU    [eating, eat, eats, fry, feel, smile, man, suf...
--hxd1CrOqg    [russia, til, n, wo, realize, ukraine, analyza...
--ixiTypG8g    [college, colleges, tuition, regulated, regula...
-64r1hcxtV4    [life, inspiration, inspiring, inspire, health...
-6IgkG5yZfo    [thankful, thank, thanks, time, help, helped, ...
-7hzaGya86g    [good, like, mikey, dinner, food, eating, dump...
-8TnsjDRXUE    [kid, amazing, know, knowing, guy, time, work,...
-9hjdvULDyc    [reading, prediction, th, nd, wa, writing, tes...
-Cr69sGnrk8    [doe, u, fan, thank, thanks, sccoby, support, ...
-D4S6TpnO44                                           [getbonus]
Name: Comment_keyword, dtype: object